@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Chivo:wght@300&family=Merriweather+Sans:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    background: #f9e8e857;
}

.one-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 5em;
    align-items: center;
}

.one-line .form_div {
    padding: 1.5em 9.6em;
}

.one-line .form_div .form_input {
    width: 18em;
}

.two-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 5em;
    align-items: center;
}

.two-line .form_div {
    padding: 1.5em 12.6em;
}

.two-line .form_div .form_input {
    width: 24em;
}

.rdo {
    display: flex;
    padding: 0px 6rem;
}

.rdo p {
    font-size: 1.1em;
    color: #716e6e;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.rdo label {
    margin: 30px 10px;
    padding: 2px 17px;
    outline: none;
    font-size: 1.1em;
    color: #6f4a3a;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Chivo', sans-serif;
}

.rdo label input {
    margin: 2px 4px;
    accent-color: #4d4242;
    cursor: pointer;
}

.btn {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.form {
    width: 70vw;
    padding: 2em;
    margin: 18px auto;
    border-radius: 1em;
    background: #d1c0c01a;
    box-shadow: 0 0 6px -2px #544c4c;
}

.form_title {
    margin-bottom: 1.3em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 34px;
    color: #4d4242;
}

.form_div {
    position: relative;
    height: 3em;
    margin-bottom: 2em;
}


.form_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24em;
    height: 100%;
    font-size: 1em;
    border: .1em solid #dadce0;
    border-radius: .5em;
    outline: none;
    padding: 1em;
    z-index: 1;
    background: none;
    color: #6f4a4a;
    font-weight: bold;
    font-family: 'Chivo', sans-serif;
}

.form_label {
    position: absolute;
    left: 1em;
    top: 1em;
    padding: 0 .25em;
    font-size: 1em;
    transition: .4s;
    color: #716e6e;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.form_button {
    padding: .6em 1em;
    outline: none;
    border: none;
    background-color: #a09a9a;
    color: #fff;
    font-size: 1.3rem;
    border-radius: .5em;
    cursor: pointer;
    transition: .4s;
    margin: 0.6em;
    font-family: 'Chivo', sans-serif;
}

.form_button:hover {
    background-color: #555;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.20);
}

.form_input:focus+.form_label {
    top: -1.5em;
    left: .8em;
    color: #716e6e;
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+.form_label {
    top: -1.5em;
    left: .8em;
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}

.form_input:focus {
    border: .1em solid #716e6e;
}