@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Chivo:wght@300&family=Merriweather+Sans:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 530px;
    background: #f9e8e857;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: inherit;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10em;
}

.box {
    background: transparent;
    padding: 56px;
    width: 360px;
    background-color: #f3ebebeb;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: 0 0 6px -2px #544c4c;
}

.box h2 {
    margin-bottom: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: #4d4242;
}

.forgot-password,
.reset-password {
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 19px;
    color: #5c5757;
    padding: 8px 0px;
}

input {
    padding: 11px;
    margin-bottom: 19px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-family: 'Chivo', sans-serif;
    color: #6f4a4a;
    font-size: 18px;
    outline-color: #555;
}

button {
    padding: 14px 50px;
    border-radius: 4px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 75px;
    background-color: #333;
    color: #e8e5e5;
    cursor: pointer;
    border: none;
    font-family: 'Chivo', sans-serif;
    font-size: 17px;
}

button:hover {
    background-color: #555;
}